header {
    background-image: url("/img/cowboy.jpg");
    width: 100vw;
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
section img{
    width: 50vw;
}
article {
    border: 3px solid black;
    border-radius: 20px;
    border-left-width: 7px;
}
h1 {
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: italic;
}
h2 {
    font-size: 20px;
    color: #0000ff;
    font-weight: bold;
}
h3 {
    font-size: 16px;
    color: teal;
    font-weight: bold;
}
p {
    color: #ffffff;
}
.firstp p {
    font-weight: bold;
}
a {
    color: #8A2BE2;
    text-decoration: none;
}
